<!DOCTYPE html>
<html lang="en" style="height: 500px; width: 1000px">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta http-equiv="X-UA-Compatible" content="ie=edge">
<title>Earthquakes</title>
<link rel="stylesheet" href="https://unpkg.com/leaflet@1.6.0/dist/leaflet.css"
integrity="sha512-xwE/Az9zrjBIphAcBb3F6JVqxf46+CDLwfLMHloNu6KEQCAWi6HcDUbeOfBIptF7tcCzusKFjFw2yuvEpDL9wQ=="
crossorigin="" />
</head>
<body style="height: 100%;">
<div id="map" style="height: 100%;"></div>
<script src="https://unpkg.com/leaflet@1.6.0/dist/leaflet.js"
integrity="sha512-gZwIG9x3wUXg2hdXF6+rVkLF/0Vi9U8D2Ntg4Ga5I5BZpVkVxlJWbSQtXPSiUTtC0TjtGOmxa1AJPuV0CPthew=="
crossorigin=""></script>
<script src="https://d3js.org/d3.v6.min.js"></script>
<script  type='text/javascript' charset='utf-8'>const API_KEY = "pk.eyJ1IjoiYWRyaWFuYW92YWxsZSIsImEiOiJja2VhbDlramYwMXFmMnNzMTdsajM1YTFmIn0.gaUSSuEJmHaoEjlvzyy4sQ";</script>
<script  type='text/javascript' charset='utf-8'>
const link = 'https://earthquake.usgs.gov/earthquakes/feed/v1.0/summary/all_week.geojson';
const faults = 'https://raw.githubusercontent.com/fraxen/tectonicplates/master/GeoJSON/PB2002_boundaries.json';
d3.json(faults).then(function (response) {
const faults = L.geoJSON(response, {
style: function (feature) {
return {
color: '#c1c1c1',
weight: 2
}
}
})
d3.json(link).then((data) => {
var earthQuakes = L.geoJSON(data, {
onEachFeature: function (feature, layer) {
layer.bindPopup("<h1>Earthquake: " + feature.properties.place + "</h1> <hr> Time: " + new Date(feature.properties.time) + "<hr> Magnitude: " + feature.properties.mag + "<hr> Significance: " + feature.properties.sig, { maxWidth: 400 });
},
pointToLayer: addCircleMarker
});
function addCircleMarker(feature, latlng) {
let options = {
radius: feature.properties.mag * 3,
stroke: false,
fillColor: markerColor(feature.properties.sig),
fillOpacity: 0.75,
}
return L.circleMarker(latlng, options);
}
createMap(earthQuakes, faults);
})
})
function createMap(earthQuakes, faults) {
const dark = L.tileLayer('https://api.mapbox.com/styles/v1/{id}/tiles/{z}/{x}/{y}?access_token={accessToken}', {
attribution: 'Map data &copy; <a href="https://www.openstreetmap.org/">OpenStreetMap</a> contributors, <a href="https://creativecommons.org/licenses/by-sa/2.0/">CC-BY-SA</a>, Imagery © <a href="https://www.mapbox.com/">Mapbox</a>',
maxZoom: 18,
id: 'mapbox/dark-v10',
tileSize: 512,
zoomOffset: -1,
accessToken: API_KEY
});
const light = L.tileLayer('https://api.mapbox.com/styles/v1/{id}/tiles/{z}/{x}/{y}?access_token={accessToken}', {
attribution: 'Map data &copy; <a href="https://www.openstreetmap.org/">OpenStreetMap</a> contributors, <a href="https://creativecommons.org/licenses/by-sa/2.0/">CC-BY-SA</a>, Imagery © <a href="https://www.mapbox.com/">Mapbox</a>',
maxZoom: 18,
id: 'mapbox/light-v10',
tileSize: 512,
zoomOffset: -1,
accessToken: API_KEY
});
const sattelite = L.tileLayer('https://api.mapbox.com/styles/v1/{id}/tiles/{z}/{x}/{y}?access_token={accessToken}', {
attribution: 'Map data &copy; <a href="https://www.openstreetmap.org/">OpenStreetMap</a> contributors, <a href="https://creativecommons.org/licenses/by-sa/2.0/">CC-BY-SA</a>, Imagery © <a href="https://www.mapbox.com/">Mapbox</a>',
maxZoom: 18,
id: 'mapbox/satellite-v9',
tileSize: 512,
zoomOffset: -1,
accessToken: API_KEY
});
const baseMaps = {
Light: light,
Dark: dark,
Sattelite: sattelite
};
const overlayMaps = {
"Earthquakes": earthQuakes,
"Faults": faults
};
let myMap = L.map('map', {
center: [0, 0],
zoom: 3,
layers: [dark, earthQuakes, faults]
});
L.control.layers(baseMaps, overlayMaps, {
collapsed: false
}).addTo(myMap);
var legend = L.control({ position: 'bottomright' });
legend.onAdd = function () {
var div = L.DomUtil.create('div', 'info legend');
div.innerHTML += "<h5>EQ Significance</h5>";
significance = [0, 250, 500, 750, 1000];
for (var i = 0; i < significance.length; i++) {
div.innerHTML +=
'<i style="background:' + markerColor(significance[i] + 1) + '"></i> ' +
+ significance[i] + (significance[i + 1] ? ' - ' + significance[i + 1] + '<br><br>' : ' + ');
}
return div;
};
legend.addTo(myMap);
}
function markerColor(sig) {
if (sig <= 250) {
return "#ffffff";
} else if (sig <= 500) {
return "#72fa41";
} else if (sig <= 750) {
return "#24ccff";
} else if (sig <= 1000) {
return "#fbff00";
} else {
return "#ff69b4";
}
};
function strokeWeight(slip_rate) {
switch (slip_rate) {
case "Greater than 5.0 mm/yr":
return 2;
case "Between 1.0 and 5.0 mm/yr":
return 1;
default:
return 0;
}
};
</script>
</body>
</html>