[data-component='Button'] {
  display: flex;
  align-items: center;
  gap: 8px;
  font-family: 'Roboto Mono', monospace;
  font-size: 12px;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  border: none;
  background-color: var(--color-neutral-100);
  color: var(--color-charcoal-dark);
  border-radius: 1000px;
  padding: 8px 24px;
  transition: transform 0.1s ease-in-out, background-color 0.1s ease-in-out;
  outline: none;

  &.button-style-action {
    background-color: var(--color-charcoal-dark);
    color: var(--color-neutral-100);
    &:hover:not([disabled]) {
      background-color: var(--color-charcoal-muted);
    }
  }

  &.button-style-alert {
    background-color: var(--color-red);
    color: var(--color-neutral-100);
    &:hover:not([disabled]) {
      background-color: var(--color-red);
    }
  }

  &.button-style-flush {
    background-color: rgba(var(--color-white-rgb), 0);
  }

  &[disabled] {
    color: var(--color-neutral-400);
  }

  &:not([disabled]) {
    cursor: pointer;
  }

  &:hover:not([disabled]) {
    background-color: var(--color-neutral-200);
  }

  &:active:not([disabled]) {
    transform: translateY(1px);
  }

  .icon {
    display: flex;
    &.icon-start {
      margin-left: -8px;
    }
    &.icon-end {
      margin-right: -8px;
    }
    svg {
      width: 16px;
      height: 16px;
    }
  }

  &.icon-red .icon {
    color: var(--color-red-dark);
  }
  &.icon-green .icon {
    color: var(--color-success-green);
  }
  &.icon-grey .icon {
    color: var(--color-neutral-450);
  }
  &.icon-white .icon {
    color: var(--color-white);
  }
  &.icon-fill {
    svg {
      fill: currentColor;
    }
  }
}
